body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.maincard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 700px;
}
.white {
  color: white;
}
.info {
  width: 700px;
  padding: 3rem;
}
