body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.maincard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 700px;
}
.white {
  color: white;
}
.info {
  width: 700px;
  padding: 3rem;
}

.infoadd {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.genresBtn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.subgenresBtn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.progressBtn {
  border-radius: 50%;
  font-size: 1rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressBtnAndTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.infoInputBtns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.firstConnectLine {
  width: 80px;
  height: 1px;
  border: 0.5px solid gray;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: -22px;
  margin-left: 8px;
}

.secondConnectLine {
  width: 80px;
  height: 1px;
  border: 0.5px solid gray;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: -22px;
  margin-right: -36px;
}

.thirdConnectLine {
  width: 80px;
  height: 1px;
  border: 0.5px solid gray;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: -22px;
  margin-left: -36px;
  margin-right: -8px;
}

.inputStyle {
  outline-color: gray;
  border: 1px solid gray;
}

.connectline {
  width: 80px;
  height: 1px;
  border: 0.5px solid gray;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: -22px;
  margin-left: -36px;
  margin-right: -8px;
}
